[submodule "ESP32-S3-DevKitC1-Xtensa-FreeRTOS-bsp/sdk/esp-idf"]
	path = ESP32-S3-DevKitC1-Xtensa-FreeRTOS-bsp/sdk/esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = master
[submodule "ESP32-S3-DevKitC1-Xtensa-FreeRTOS-bsp/third_party/idf-extra-components"]
	path = ESP32-S3-DevKitC1-Xtensa-FreeRTOS-bsp/third_party/idf-extra-components
	url = https://github.com/espressif/idf-extra-components.git
	branch = master
